.container {
   position: relative;
   display: inline-block;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   .wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      max-width: 555px;
      height: 255px;
      margin-bottom: 24px;
      transition: all 0.2s ease;
      &:hover {
         transform: scale(1.02);
      }
      h3 {
         position: absolute;
         top: 32px;
         left: 24px;
         padding: 8px 16px;
         border-radius: 6px;
         color: var(--white);
         background-color: rgba($color: #000000, $alpha: 0.3);
         text-transform: uppercase;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         display: block;
         border-radius: 20px;
      }
   }
}
