.container {
   background-color: var(--lemon);
   width: 100vw;
   margin-left: calc(50% - 50vw);
   margin-top: 24px;
   margin-bottom: 62px;
   .row {
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 40px 16px 24px;
      .column {
         display: flex;
         margin-bottom: 24px;
         .number {
            font-size: 36px;
            margin-right: 6px;
         }
         .info {
            .desc {
               padding-right: 40px;
               font-size: 13px;
               line-height: 20px;
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .row {
      flex-direction: column;
   }
}
