.container {
   margin: 24px 0;
   .titleWrapper {
      margin-bottom: 8px;
   }
   .cardWrapper {
      display: flex;
      justify-content: space-between;
      overflow: auto;
      white-space: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
         display: none;
      }
      > * {
         margin-right: 16px;
         h4 {
            font-size: 14px;
         }
      }
   }
}
