.titleWrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   a {
      font-size: 16px;
      color: var(--darkgray);
      transition: all 0.2s ease;
      &:hover {
         color: black;
      }
   }
}
