.container {
   h2 {
      text-align: center;
      text-transform: uppercase;
      margin: 32px 0;
   }
   h4 {
      margin-top: 8px;
      line-height: 28px;
   }
   li {
      margin-top: 8px;
      list-style: none;
   }
   a {
      margin: 0 4px;
      transition: all 0.2s ease;
      font-weight: 500;
      &:hover {
         color: var(--blue);
      }
   }
}
