@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #fff;
  --dark: #000;
  --darkgray: #c1c1c1;
  --ligthgray: #f7f8fa;
  --blue: #403cfe;
  --lemon: #ecfe3c;
}

h1 {
  font-size: 36px;
  line-height: 58px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--dark);
  margin: 0;
}

h4 {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
