.wrapper {
   background-color: var(--ligthgray);
   margin: 40px 0;
   padding: 56px 48px;
   border-radius: 20px;
   h4 {
      margin-bottom: 12px;
      text-transform: uppercase;
   }
   .formWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 48px;
      .inputWrapper {
         width: 320px;
         p {
            margin-bottom: 8px;
         }
         .error {
            color: rgb(255, 63, 63);
            margin-top: 8px;
         }
      }
   }
   .checkboxFormWrapper {
      display: flex;
      align-items: center;
      overflow: auto;
      white-space: nowrap;
      margin-bottom: 48px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
         display: none;
      }
      .checkboxWrapper {
         display: flex;
         margin-right: 24px;
         p {
            margin-left: 6px;
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .wrapper {
      padding: 16px;
      .formWrapper {
         .inputWrapper {
            width: 280px;
            margin-top: 16px;
         }
      }
   }
}
