.container {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   .logo {
      text-transform: uppercase;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
         transform: scale(1.1);
      }
   }
   .links {
      display: flex;
      justify-content: flex-end;

      .menu_item {
         margin-right: 16px;
         font-size: 14px;
         transition: all 0.1s ease;
         cursor: pointer;
         &:hover {
            transform: scale(1.1);
         }
      }

      .cart_container {
         margin-right: 16px;
         .cart_link {
            display: flex;
            align-items: center;
            transition: all 0.1s ease;
            cursor: pointer;
            &:hover {
               transform: scale(1.1);
            }
            img {
               margin-right: 4px;
            }
            .separator {
               padding: 4px;
               border-left: 2px solid var(--dark);
               height: 6px;
               margin-left: 8px;
               opacity: 40%;
            }
         }
      }
   }
}
