.container {
   margin-top: 16px;
   border-bottom: 1px solid lightgray;
   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 24px;
      padding: 8px 16px 0 0;
      transition: all 0.3s ease;
      margin-bottom: 8px;
      &:hover {
         cursor: pointer;
      }
      .title {
         text-transform: uppercase;
         font-weight: 600;
      }

      .icon {
         transition: all 0.3s ease;
         font-size: 36px;
      }
      .iconActive {
         transition: all 0.3s ease;
         font-size: 36px;
         transform: rotate(135deg);
      }
   }

   .slideDown {
      .content {
         padding: 16px 0px;
         overflow: hidden;
         transition: all 0.3s;
      }
   }
}

@media screen and (max-width: 768px) {
   .header {
      min-height: 32px !important;
      margin-bottom: 24px !important;
   }
}
