.container {
   margin-top: 80px;
   background-color: var(--dark);
   color: var(--white);
   width: 100vw;
   margin-left: calc(50% - 50vw);
   .row {
      max-width: 1280px;
      margin: 0 auto;
      padding: 62px 16px;
      .column {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         p {
            color: var(--white);
            margin-bottom: 16px;
            transition: all 0.1s ease;
            &:hover {
               opacity: 0.6;
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .column {
      flex-direction: column;
      h5 {
         font-size: 22px;
      }
   }
   p {
      font-size: 18px;
   }
}
